@import '../styles/variables.css';

/* RESET CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100dvh;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: var(--font-sm);
  background-color: var(--color-bg);
  background-image: url("../../public/images/background_body.png");
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--color-text);

  /* để test mobile UI sạch */
  overflow: hidden;
}


/* Mobile layout container wrapper */
.container {
  max-width: var(--max-width);
  height: 100dvh;
  margin: 0 auto;
  overflow-y: auto;
  background-color: #ffffff;
  scrollbar-width: none; /* Firefox */
  position: relative;
}
.main-content{
  height: 100vh;
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Ensure main content doesn't get hidden behind navbar */
.main-content-page {
  padding: 35px 0;

}

/* Mobile specific adjustments */
@media (max-width: 1000px) {
  /* .main-content {
    padding-bottom: 100px;
  } */
}



/* Sidebar styles */
.sidebar-v2 {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* width: 100%; */
  max-width: var(--max-width);
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}

.sidebar-v2.open {
  display: block;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

div {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 480px) {
  div, button {
    font-size: var(--font-sm) !important;
  }
}
